@using Microsoft.AspNetCore.Identity
@using SitePI.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <li class="nav-item">
            <a class="nav-link link text-white display-4" onclick="location.href='@Url.Action("Index", "Manage")'">
                Ola @UserManager.GetUserName(User);
            </a>
        </li>


        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </li>

    </form>
}
else
{
    <li class="nav-item">
        <a class="nav-link link text-white display-4" onclick="location.href='@Url.Action("Register", "Account")'">
            <span class="mbri-sites mbr-iconfont mbr-iconfont-btn"></span>
            Register&nbsp;
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link link text-white display-4" onclick="location.href='@Url.Action("Login", "Account")'">
            <span class="mbri-sites mbr-iconfont mbr-iconfont-btn"></span>
            Log in&nbsp;
        </a>
    </li>
}
